{% extends 'base.html' %}{% block title %}Welcome-{{customer}}{% endblock title %}{% block content %}
<style>
    #myForm {
        display: none;
    }
    
    .form-container {
        padding: 10px;
        background-color: white;
    }
    
    .form-popup {
        display: none;
        position: fixed;
        bottom: 3em;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        width: 40%;
    }
</style>


{% if success %}
<div class="alert alert-{{class}} alert-dismissible fade show" role="alert">
    <strong>success!</strong> {{msg}}{{customer}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container py-4">
    <h1 class="text-center">Your user's</h1>
    <table class="table mx-3 my-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Create/Update On</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td>{{user.created_on}}</td>

                <td>
                    <div class="buttons">
                        <a class="btn btn-outline-primary" onclick="myfn({{user.id}})">Edit</a>
                        <a class="btn btn-outline-danger" href="/delete/{{user.id}}">Delete</a>
                        <!-- <p id="demo">can edit</p> -->
                    </div>
                </td>
                {% endfor %}
        </tbody>
    </table>
</div>
<div class="form-popup" id="myForm">
    <form class="form-container" id="myf" method="POST">
        {% csrf_token %}
        <h1>Edit </h1>
        <div class="m-2">
            <label for="email" class="form-label"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required class="form-control">
        </div>
        <div class="m-2">
            <label for="add" class="form-label"><b>address</b></label>
            <input type="text" placeholder="Enter address" name="add" required class="form-control"></div>

        <button type="submit" class="btn btn-primary">submit</button>
        <button type="button" class="btn btn-warning cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script>
    function myfn(n) {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("myf").action = "/edit/" + n;
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
{% endblock content %}