{% extends 'base.html' %}{% block title %}Login-here{% endblock title %} {% block content %}
<div class="container card shadow" style="width: 40%; margin-top:10rem; ">
    <div class="p-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="{% url 'signup' %}" class="p-3">Sign-up</a>
    </div>
</div>{% endblock content %}