{% extends 'base.html' %}{% block title %}Signup-here{% endblock title %}{% block content %}
{% if success %}
<div class="alert alert-{{class}} alert-dismissible fade show" role="alert">
    <strong>Oops!</strong> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container card shadow" style="width: 40%; margin-top:3rem;">
    <div class="p-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="cpassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" name="cpassword">
            </div>
            <div class="form-floating mb-3">Addresss:
                <label for="add" class="form-label"></label>
                <textarea class="form-control"  id="add" name="add" style="height: 100px"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'login' %}">already have account </a>
    </div>
</div>{% endblock content %}